@font-face{
    font-family: "Creepy";
    src: url("Assets/Fonts/Creepy.woff") format(woff), url("Assets/Fonts/Creepy.woff2") format(woff);
}
@font-face{
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format(woff), url("Assets/Fonts/Lunacy.woff2") format(woff);
}

*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    cursor: url("Assets/Cursors/Ghost.cur"), auto;
}

body{
    margin: 0;
    background: radial-gradient(#9D5900,#3D2200);
}

.page-title{
    color: #FF6D00;
    font-family: Creepy,serif;
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;    
}
.game-info{
    font-family: Lunacy,serif;
    color: #FFBB89;
    font-size: 2rem;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card{
    position: relative;
    height: 175px;
    width: 125px;
}

.card:hover{
    cursor: url("Assets/Cursors/GhostHover.cur"), auto;
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back{
    transform: rotateY(180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}

.card.matched .card-value{
    animation: dance 1s linear infinite 500ms;
}
@keyframes dance{
    0%,100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}

.overlay-text{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: #FF6D00;
    font-family: creepy,serif;
}

.overlay-text-small{
    font-size: .8rem;
}

.overlay-text.visible{
    visibility: visible;
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
    from{
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to{
        background-color: rgba(0,0,0,.8);
        font-size: 10rem;
    }
}

.card-back{
    background-color: black;
    border-color: #FF6D00;
}

.card-front{
    background-color: #FFBB89;
    border-color: #333;
    transform: rotatex(180deg)
}

.card-value{
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}
.card-face:hover .card-value{
    transform: scale(1);
}

.cob-web{
    position:absolute;
    width: 47px;
    height: 47px;
    transition: width 100ms ease-in-out,height 100ms ease-in-out;
}

.card-front:hover .cob-web{
    height: 52px;
    width: 52px;
}
.card-back:hover .cob-web{
    height: 52px;
    width: 52px;
}

.cob-top-left{
    transform: rotate(270deg);
    top: 0;
    left: 0;
}
.cob-top-right{
    top: 0;
    right: 0;
}
.cob-bottom-left{
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}
.cob-bottom-right{
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}

.spider{
    align-self: flex-start;
    height: 110px;
    width: 60px;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}
.card-back:hover .spider{
    transform: translateY(0);
}


@media(max-width:600px){
    .game-container{
        grid-template-columns: repeat(2,auto);
    }
}